.canvas {
  width: 100vw;
  height: 100vh;
  /*background-color: #000; */
  background: transparent;
  position: relative;
  overflow: hidden;
}

.star-container {
  position: absolute;
  transform: translate(-50%, -50%);
}

/* Triangle orientation */
.ahsaas-position {
  top: 25%;
  left: 50%;
}

.steph-position {
  top: 70%;
  left: 25%;
}

.michael-position {
  top: 70%;
  left: 75%;
}
