* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("./assets/space_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* to make this darker*/
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  pointer-events: none;
}

